# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Backend build artifacts
backend/main
backend/main_new
backend/main_old
backend/*.exe
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/__debug_bin2788874940
backend/.env.example
backend/__debug_bin4290169698