.blur {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #444;
  opacity: 0.95;
  z-index: 1000;
  position: fixed;
  padding: 1rem;
}

.modal {
  border-radius: 12px;
  max-width: 400px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 15px;
}