@import "tailwindcss";
:root {
  font-family: Instrument Sans, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #fffcff;
  background-color: #28282B;
  margin: 0 auto;
  text-align: center;

  --main-font: Instrument Serif;
  --secondary-font: Instrument Sans;
  --main-bg-color: #28282B;
  --main-text-color: #fffcff;
  --main-border-color: #28282B;
  --main-accent-color: #ff4d4d;
}